#ifndef ENVIRONMENT_H
#define ENVIRONMENT_H

#define SSID "Your SSID"
#define PASSWORD "SSID Password"
#define REMOTE_HOST "Remote host to write to"
#define ROOM (WiFi.macAddress() == "Mac Address to search for" ? "ROOM" : "OTHER ROOM")

#define RETRY_TIME 30000
#define DHTTYPE DHT22
#define DHTPIN  14
#define TRIGGER_PIN 5
#define ECHO_PIN 4
#define MAX_DISTANCE 200
#define DEEP_SLEEP 5 * 60 * 1000000
#define TO_DEEP_SLEEP true

#define MQTT_SERVER "mqtt.server.broker"
#define MQTT_PORT 1883

//#define DEBUG

#endif
